<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button style="color: white !important"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Propiedades\
    </ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-header>
  <app-menu-general [buttonNotification]="'assets/iconos/notificaciones.svg'"
                    [isMenuButton]="'menu'"
                    [colorMenuButton]="'white'"
                    [titleMenu]="'Propiedades'"
                    [buttonUser]="'assets/iconos/usuario_blanco.svg'"></app-menu-general>
</ion-header>
<div class="sg">
  <ion-segment (ionChange)="segmentChanged($event)">
    <ion-segment-button value="match"
                        checked>
      <span class="font-size-16 "
            text-uppercase>Sugeridas</span>
    </ion-segment-button>
    <ion-segment-button value="search">
      <span class="font-size-16 "
            text-uppercase>Todas</span>
    </ion-segment-button>
  </ion-segment>
</div>
<ion-content padding>
  <!-- cargar o no -->
  <ng-container *ngIf="isLoad; then thenTemplate; else elseTemplate"></ng-container>
  <ng-template #thenTemplate>
    <!--  Segment -->

    <!-- match -->
    <ng-container *ngIf="segment === 'match'; then matchTemplate; else searchTemplate"></ng-container>
    <ng-template #matchTemplate>
      <h2><b>Propiedades Sugeridas</b></h2>
      <p>Se muestran las coincidencias con tu
        perfil</p>
      <ion-list lines="full">
        <ion-item lines="full"
                  detail
                  *ngFor="let property of properties"
                  (click)="itemDetail(property)">
          <!-- icons -->
          <ion-icon *ngIf="property.typeOfProperty === 'departamento'"
                    src="assets/iconos/departamentos.svg"
                    slot="start"></ion-icon>
          <ion-icon *ngIf="property.typeOfProperty === 'casa'"
                    src="assets/iconos/casa.svg"
                    slot="start"></ion-icon>
          <ion-icon *ngIf="property.typeOfProperty === 'desarrollo'"
                    src="assets/iconos/Desarrollo.svg"
                    slot="start"></ion-icon>
          <ion-icon *ngIf="property.typeOfProperty === 'terreno'"
                    src="assets/iconos/terreno.svg"
                    slot="start"></ion-icon>

          <ion-label text-wrap>
            <h2>{{property.name}}</h2>
            <p>{{property.zone}}</p>
            <ion-chip *ngIf="property.percentage > 60"
                      color="tertiary">
              <ion-label>{{property.percentage.toFixed(0)}}%
                de coincidencia</ion-label>
            </ion-chip>
            <ion-chip *ngIf="property.percentage <= 60 && property.percentage > 30 "
                      color="eight">
              <ion-label>{{property.percentage.toFixed(0)}}%
                de coincidencia</ion-label>
            </ion-chip>
            <ion-chip *ngIf="property.percentage <= 30"
                      color="ten">
              <ion-label>{{property.percentage.toFixed(0)}}%
                de coincidencia</ion-label>
            </ion-chip>
          </ion-label>
        </ion-item>
      </ion-list>
    </ng-template>

    <!-- search -->
    <ng-template #searchTemplate>

      <!-- menu end -->
      <ion-menu contentId="menu-end"
                menuId="filters"
                side="end"
                type="overlay">
        <app-general-filters (filters)="getFilters($event)"
                             (resetAll)="getAllProperty()"></app-general-filters>
      </ion-menu>


      <!-- Contenido a desplazar listas -->
      <div id='menu-end'>
        <h1>Todas las Propiedades </h1>
        <ion-item lines="none">
          <ion-button (click)="menuCtr.open('filters')"
                      color="secondary"
                      fill="outline"
                      slot="end">
            <ion-icon name="funnel"></ion-icon>Filtros({{numOfFilers}})
          </ion-button>
        </ion-item>
        <ng-container *ngIf=" (allProperties | async)?.length ; then dataDisplay; else noDataDisplay "></ng-container>
        <ng-template #dataDisplay>
          <ion-list lines="full">
            <ion-item lines="inset"
                      detail
                      *ngFor="let property of allProperties | async"
                      (click)="itemDetail(property)">
              <ion-icon *ngIf="property.typeOfProperty === 'departamento'"
                        src="assets/iconos/departamentos.svg"
                        slot="start"></ion-icon>
              <ion-icon *ngIf="property.typeOfProperty === 'casa'"
                        src="assets/iconos/casa.svg"
                        slot="start"></ion-icon>
              <ion-icon *ngIf="property.typeOfProperty === 'desarrollo'"
                        src="assets/iconos/Desarrollo.svg"
                        slot="start"></ion-icon>
              <ion-icon *ngIf="property.typeOfProperty === 'terreno'"
                        src="assets/iconos/terreno.svg"
                        slot="start"></ion-icon>
              <ion-label text-wrap>
                <h2>{{property.name}}</h2>
                <p>{{property.zone}}</p>
                <p>
                  <span *ngFor="let tag of property.tag">
                    {{'#'+tag+ ' '}}
                  </span>
                </p>
              </ion-label>
            </ion-item>
          </ion-list>
        </ng-template>
        <ng-template #noDataDisplay>
          <ion-label>No hay datos con los filtros aplicados</ion-label>

        </ng-template>


      </div>


    </ng-template>


  </ng-template>
  <ng-template #elseTemplate>
    <!-- <ion-spinner name="bubbles"></ion-spinner> -->
    <ion-skeleton-text width=40px></ion-skeleton-text>
    <ion-skeleton-text width=200px></ion-skeleton-text>
    <ion-skeleton-text width=600px></ion-skeleton-text>
    <ion-skeleton-text width=100px></ion-skeleton-text>
    <ion-skeleton-text width=80px></ion-skeleton-text>
  </ng-template>

</ion-content>