<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button style="color: white !important"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Obras
    </ion-title>

  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ng-container *ngIf="isLoading; then Load; else noLoad"></ng-container>
  <!-- contenido -->

  <ng-template #Load class="my-contenet">
    <mat-drawer-container class="side-container" autosize>
      <!-- contenido de filtros -->
      <mat-drawer [class.mat-elevation-z1]=true position="end" #drawer2 class="sidenav" [mode]="isDesktop ? 'side' : 'over'"
        [opened]="openMenu">
        <app-filter-build (filters)="getFilters($event)" (resetAll)="getBuildAll()" (closeMenu)="drawer2.close()"
          [isDesktop]="isDesktop"></app-filter-build>
      </mat-drawer>
      <!-- /contenido de filtros -->
      <!-- filtros boton -->
      <ion-item *ngIf="!isDesktop" lines="none">
        <ion-button (click)="drawer2.toggle()" slot="end" color="secondary" fill="outline">
          <ion-icon name="funnel"></ion-icon>Filtros({{numOfFilters}})
        </ion-button>
      </ion-item>
      <ion-item *ngIf="isDesktop" lines="none">
        <ion-button (click)="drawer2.toggle()" slot="end" color="secondary" fill="outline">
          <ion-icon name="funnel"></ion-icon>Filtros {{(drawer2.openedChange | async) ? 'cerrar' : 'abrir'}}
        </ion-button>
      </ion-item>

      <!-- /filtros boton -->

      <!-- Table  -->
      <h2>Lista de Obras </h2>
      <app-general-table [columns]="columns" [rows]="rows" [isDesktop]="isDesktop" (editButton)="edit($event)"
        (deletedButton)="presentAlertConfirm($event)" (detailsButton)="detailBuild($event)"></app-general-table>
      <!-- /Table -->
    </mat-drawer-container>


  </ng-template>
  <!-- /contenido -->

  <!-- Skeleton -->
  <ng-template #noLoad>
    <app-general-skeleton></app-general-skeleton>
  </ng-template>


</ion-content>
<!-- fab placed to the bottom end -->
<ion-fab vertical="bottom" horizontal="start" slot="fixed">
  <ion-fab-button (click)="newBuild()" *ngIf="isLoading" color="secondary">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>