.flex-container2 {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
    border: 2px solid darkgray;
    border-radius: 8px;

}

.button-add {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1%;
}

.flex-container {
    display: flex;
    flex-direction: column;
    padding: 5%;
}

.flex-container>* {
    width: 100%;
}

.one-input {
    width: 80%;
}

.more-input {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;

}

.more-input>* {
    padding: 1%
}

.more-input>button {
    flex: 0
}

.date-input {
    width: 18%;
}

@media (max-width: 900px) {

    .more-input {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;

    }

    .date-input {
        width: 50%;
    }

}

hr {
    width: 100%;
    height: 0px;
    background-color: darkgray;
    border-radius: 7px 7px 7px 7px;
}