.flex-container {
    display: flex;
    flex-direction: column;
    padding: 5%;
}

.flex-container>* {
    width: 100%;
    margin: 5%
}

.desktop-card {
    height: 100% !important;
}

.goals-number {
    margin-left: 10%;
}

.chips-detail {
    font-size: 1.3em;
}

.icon-chip-detail {
    border-radius: 50%;
    background-color: black;
    color: white;
}