<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button style="color: white !important"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Detalles
    </ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-header>
  <app-menu-general [isMenuButton]="'back'"
                    [colorMenuButton]="'white'"
                    [titleMenu]="'Detalles de Propiedad'"
                    [buttonUser]="'assets/iconos/usuario_blanco.svg'"
                    [buttonNotification]="'assets/iconos/notificaciones.svg'"></app-menu-general>
</ion-header>
<ion-content padding>
  <ng-container *ngIf="isLoad; then thenTemplate; else elseTemplate"></ng-container>
  <ng-template #thenTemplate>
    <ion-item lines="none">
      <h2> Característica </h2>
    </ion-item>
    <ion-item lines="none">
      <h2> {{property.name}} </h2>
      <ion-button style="color: black"
                  (click)="setLikeProperty(property._id)"
                  color="light"
                  fill="outline"
                  slot="end">
        <ion-icon slot="end"
                  [src]="isLiked === true ? 'assets/iconos/lista_de_deseos_rojo.svg': 'assets/iconos/lista_de_deseos.svg'"></ion-icon>{{isLiked
        === true ? 'Te gusta' :'Me gusta'}}
      </ion-button>
    </ion-item>
    <ion-item lines="none">
      <ion-badge slot="end"
                 *ngIf="property.numOfLikes > 0">
        {{property.numOfLikes}} me gusta
      </ion-badge>
    </ion-item>

    <h5 *ngIf="property.dateToApart && showApart">Apartada
      hasta:
      {{formatDates(property.dateToApart)}}
    </h5>

    <!-- Principales -->
    <ion-grid>
      <ion-row>
        <ion-col>
          <!-- Renta/venta -->
          <ion-chip *ngIf="property.isRent"
                    color="tertiary">
            <ion-chip-icon src="assets/iconos/venta_renta.svg"></ion-chip-icon>
            <ion-label>Renta</ion-label>
          </ion-chip>
          <ion-chip *ngIf="!property.isRent"
                    color="tertiary">
            <ion-chip-icon src="assets/iconos/venta_renta.svg"></ion-chip-icon>
            <ion-label>Venta</ion-label>
          </ion-chip>
        </ion-col>
        <ion-col>
          <ion-chip color="tertiary">
            <ion-chip-icon src="assets/iconos/m2.svg"></ion-chip-icon>
            <ion-label>Espacio {{property.space}}</ion-label>
          </ion-chip>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-chip color="tertiary">
            <ion-chip-icon src="assets/iconos/calendario.svg"></ion-chip-icon>
            <ion-label>Fecha {{property.dateToBuy}}</ion-label>
          </ion-chip>
        </ion-col>
        <ion-col>
          <ion-chip color="tertiary">
            <ion-chip-icon src="assets/iconos/baños.svg"></ion-chip-icon>
            <ion-label>Baños {{property.numBathrooms}}</ion-label>
          </ion-chip>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-chip color="tertiary">
            <ion-chip-icon src="assets/iconos/precio.svg"></ion-chip-icon>
            <ion-label>Max ${{property.maxPrice}}</ion-label>
          </ion-chip>
        </ion-col>
        <ion-col>
          <ion-chip color="tertiary">
            <ion-chip-icon src="assets/iconos/precio.svg"></ion-chip-icon>
            <ion-label>Min ${{property.minPrice}}</ion-label>
          </ion-chip>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-chip color="tertiary">
            <ion-chip-icon src="assets/iconos/cochera.svg"></ion-chip-icon>
            <ion-label>Estacionamiento
              {{property.numCars}}</ion-label>
          </ion-chip>
        </ion-col>
        <ion-col>
          <ion-chip color="tertiary">
            <ion-chip-icon src="assets/iconos/recamara.svg"></ion-chip-icon>
            <ion-label>Cuartos {{property.numRooms}}</ion-label>
          </ion-chip>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!-- otros -->
    <ion-card-subtitle style="margin-left: 8%;">Otras</ion-card-subtitle>
    <ion-item *ngIf="property.allServices">
      <ion-icon style="color:  #C4C156"
                name="radio-button-on"></ion-icon>
      <ion-label>Todos los servicios</ion-label>
    </ion-item>
    <ion-item *ngIf="property.hasElevator">
      <ion-icon style="color:  #C4C156"
                name="radio-button-on"></ion-icon>
      <ion-label>Elevador</ion-label>
    </ion-item>
    <ion-item *ngIf="property.hasGarden">
      <ion-icon style="color:  #C4C156"
                name="radio-button-on"></ion-icon>
      <ion-label>Jardin</ion-label>
    </ion-item>
    <ion-item *ngIf="property.isClose">
      <ion-icon style="color:  #C4C156"
                name="radio-button-on"></ion-icon>
      <ion-label>Fraccionamineto Cerrado</ion-label>
    </ion-item>
    <ion-item *ngIf="!property.isOld">
      <ion-icon style="color:  #C4C156"
                name="radio-button-on"></ion-icon>
      <ion-label>Nuevo</ion-label>
    </ion-item>
    <ion-item *ngIf="property.isLowLevel">
      <ion-icon style="color:  #C4C156"
                name="radio-button-on"></ion-icon>
      <ion-label>Planta Baja</ion-label>
    </ion-item>
    <!-- tag -->
    <ion-card-subtitle style="margin: 8% 0% 2% 8%;">Etiquetas</ion-card-subtitle>
    <ion-grid style="margin-left: 8%;">
      <ion-row>
        <ion-col *ngFor="let tag of property.tag">
          {{tag}}
        </ion-col>
      </ion-row>
    </ion-grid>



  </ng-template>
  <ng-template #elseTemplate
               style="text-align: center">
    <ion-spinner name="bubbles"></ion-spinner>

  </ng-template>
  <!-- <button (click)="notification()">algo</button> -->
</ion-content>