<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button style="color: white !important"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Detalles
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ng-container *ngIf="isLoad; then thenTemplate; else elseTemplate"></ng-container>
  <ng-template #thenTemplate>
    <h1> Característica </h1>

    <ion-card>
      <ion-item lines="none" *ngIf="!isLiked">

        <ion-button (click)="setLikeProperty(property._id)" color="secondary" fill="outline" slot="end">
          <ion-icon name="heart-empty"></ion-icon>Me gusta
        </ion-button>
      </ion-item>
      <ion-item lines="none" *ngIf="isLiked">
        <ion-button (click)="setLikeProperty(property._id)" color="secondary" fill="solid" slot="end">
          <ion-icon color="dark" name="heart"></ion-icon>Te gusta
        </ion-button>
      </ion-item>

      <ion-card-header>
        <ion-card-title> {{property.name}} </ion-card-title>
      </ion-card-header>
      <!-- Principales -->
      <ion-grid>
        <ion-row>
          <ion-col>
            <!-- Renta/venta -->
            <ion-chip *ngIf="property.isRent" style="background-color: #F58634">
              <ion-chip-icon class="icon-chip-detail" name="cart"></ion-chip-icon>
              <ion-label>Renta</ion-label>
            </ion-chip>
            <ion-chip *ngIf="!property.isRent" style="background-color: #F58634">
              <ion-chip-icon class="icon-chip-detail" name="cart"></ion-chip-icon>
              <ion-label>Venta</ion-label>
            </ion-chip>
          </ion-col>
          <ion-col>
            <ion-chip style="background-color: #F58634">
              <ion-chip-icon class="icon-chip-detail" name="expand"></ion-chip-icon>
              <ion-label>Espacio {{property.space}}</ion-label>
            </ion-chip>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-chip style="background-color: #F58634">
              <ion-chip-icon class="icon-chip-detail" name="calendar"></ion-chip-icon>
              <ion-label>Fecha {{property.dateToBuy}}</ion-label>
            </ion-chip>
          </ion-col>
          <ion-col>
            <ion-chip style="background-color: #F58634">
              <ion-chip-icon class="icon-chip-detail" name="water"></ion-chip-icon>
              <ion-label>Baños {{property.numBathrooms}}</ion-label>
            </ion-chip>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-chip style="background-color: #F58634">
              <ion-chip-icon class="icon-chip-detail" name="cash"></ion-chip-icon>
              <ion-label>Max ${{property.maxPrice}}</ion-label>
            </ion-chip>
          </ion-col>
          <ion-col>
            <ion-chip style="background-color: #F58634">
              <ion-chip-icon class="icon-chip-detail" name="cash"></ion-chip-icon>
              <ion-label>Min ${{property.minPrice}}</ion-label>
            </ion-chip>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-chip style="background-color: #F58634">
              <ion-chip-icon class="icon-chip-detail" name="car"></ion-chip-icon>
              <ion-label>Estacionamiento {{property.numCars}}</ion-label>
            </ion-chip>
          </ion-col>
          <ion-col>
            <ion-chip style="background-color: #F58634">
              <ion-chip-icon class="icon-chip-detail" name="bed"></ion-chip-icon>
              <ion-label>Cuartos {{property.numRooms}}</ion-label>
            </ion-chip>
          </ion-col>
        </ion-row>
      </ion-grid>
      <!-- otros -->
      <ion-card-subtitle style="margin-left: 8%;">Otras</ion-card-subtitle>
      <ion-item *ngIf="property.allServices">
        <ion-icon style="color:  #F5811E" name="radio-button-on"></ion-icon>
        <ion-label>Todos los servicios</ion-label>
      </ion-item>
      <ion-item *ngIf="property.hasElevator">
        <ion-icon style="color:  #F5811E" name="radio-button-on"></ion-icon>
        <ion-label>Elevador</ion-label>
      </ion-item>
      <ion-item *ngIf="property.hasGarden">
        <ion-icon style="color:  #F5811E" name="radio-button-on"></ion-icon>
        <ion-label>Jardin</ion-label>
      </ion-item>
      <ion-item *ngIf="property.isClose">
        <ion-icon style="color:  #F5811E" name="radio-button-on"></ion-icon>
        <ion-label>Fraccionamineto Cerrado</ion-label>
      </ion-item>
      <ion-item *ngIf="!property.isOld">
        <ion-icon style="color:  #F5811E" name="radio-button-on"></ion-icon>
        <ion-label>Nuevo</ion-label>
      </ion-item>
      <ion-item *ngIf="property.isLowLevel">
        <ion-icon style="color:  #F5811E" name="radio-button-on"></ion-icon>
        <ion-label>Planta Baja</ion-label>
      </ion-item>
      <!-- tag -->
      <ion-card-subtitle style="margin: 8% 0% 2% 8%;">Etiquetas</ion-card-subtitle>
      <ion-grid style="margin-left: 8%;">
        <ion-row>
          <ion-col *ngFor="let tag of property.tag">
            {{tag}}
          </ion-col>
        </ion-row>
      </ion-grid>


    </ion-card>

  </ng-template>
  <ng-template #elseTemplate style="text-align: center">
    <ion-spinner name="bubbles"></ion-spinner>

  </ng-template>
  <!-- <button (click)="notification()">algo</button> -->
</ion-content>