.margin-field {
    margin-top: 20px;
}

.flex-container {
    /* display: flex;
    flex-direction: column;
    padding: 5%; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5%;
}

.flex-container>* {
    width: 50%;
    padding: 1%;
}

.flex-title {
    display: flex;
    align-items: baseline;
    width: 100% !important;
}

.chips-detail {
    font-size: 1.3em;
}

.numberCircle {
    background: #cccccc;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 1.6em;
    margin-right: 5px;
    text-align: center;
    width: 1.6em;
}

.flex-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100% !important;

}

.alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

@media (max-width: 900px) {
    .flex-container>* {
        width: 100%;
    }
}