<ion-header>
  <ion-toolbar translucent color="primary">
    <ion-buttons slot="start">
      <ion-back-button style="color: white !important"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Eventos
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <!-- Toggles in a List -->
  <ion-list lines="none" *ngIf="!isOne">
    <ion-item lines="none">
      <ion-label>Mostrar Todos</ion-label>
      <ion-toggle [(ngModel)]="isAll" (ionChange)="getAllSchedule();getActualSchedule()"></ion-toggle>
    </ion-item>
    <ion-item lines="none" *ngIf="!isAll">
      <ion-chip color="secondary">
        <ion-label>Mostrando Actuales
        </ion-label>
      </ion-chip>
    </ion-item>

  </ion-list>
  <!-- eventos -->
  <ng-container *ngIf="scheduleToShow.length > 0; then data; else noData"></ng-container>
  <ng-template #data>
    <ion-card *ngFor="let schedule of scheduleToShow" [ngClass]="{'state-verde': schedule.status === 'verde', 
        'state-amarillo': schedule.status === 'amarillo',
        'state-rojo': schedule.status === 'rojo',
        'state-gris': schedule.status === 'gris',
        'state-azul': schedule.status === 'azul' }">
      <span *ngIf="schedule.status === 'gris'">
        <ion-card-header>
          <ion-card-subtitle>Estado: Cita Generada</ion-card-subtitle>
          <ion-card-title text-wrap>En espera</ion-card-title>
        </ion-card-header>
        <ion-card-content text-wrap>
          En poco tiempo recibirá respuesta de la cita solicitada
        </ion-card-content>

      </span>

      <span *ngIf="schedule.status === 'verde'">
        <ion-card-header>
          <ion-card-subtitle>Estado: Propuesta Cita</ion-card-subtitle>
          <ion-card-title text-wrap>Favor de Responder</ion-card-title>
        </ion-card-header>
        <ion-card-content text-wrap>
          <ion-label text-wrap>Detalles de la cita : {{schedule.note}}</ion-label>
          <ion-list lines="none">
            <ion-item lines="none" text-wrap> Fecha: {{schedule.day}}/{{schedule.month + 1 }}/{{schedule.year}}</ion-item>
            <ion-item lines="none" text-wrap>Hora: {{formatHours(schedule.hour,
              schedule.minute)}}</ion-item>
          </ion-list>
        </ion-card-content>
        <ion-item lines="none">
          <ion-button (click)="respondSchedule('Aceptado', schedule._id)" color="success" fill="outline" slot="end">
            Aceptar <ion-icon name="checkmark-circle"></ion-icon>
          </ion-button>
          <ion-button (click)="respondSchedule('Denagado',  schedule._id)" color="danger" fill="outline" slot="end">
            Denegar <ion-icon name="close-circle"></ion-icon>
          </ion-button>

        </ion-item>

      </span>
      <span *ngIf="!schedule.status || schedule.status === 'amarillo'">
        <ion-card-header>
          <ion-card-subtitle>Cita: {{schedule.day}}/{{schedule.month + 1}}/{{schedule.year}}</ion-card-subtitle>
          <ion-card-subtitle lines="none" text-wrap>Hora: {{formatHours(schedule.hour,
            schedule.minute)}}</ion-card-subtitle>
          <ion-card-title>{{schedule.property.name}}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-label>
            <ion-icon name="person"></ion-icon>
            <b>Tiene una cita con {{schedule.adviser.name}}</b>
          </ion-label>
          <ion-icon name="pin"></ion-icon>
          Direccion {{schedule.property.zone}}
        </ion-card-content>
      </span>
      <span *ngIf="schedule.status === 'rojo'">
        <ion-card-header>
          <ion-card-subtitle>Estado: Visita</ion-card-subtitle>
          <!-- Poner en notes Visitada o No Visitada -->
          <ion-card-title text-wrap> Asistencia: {{schedule.note}}</ion-card-title>
          <ion-card-content text-wrap>
          </ion-card-content>
        </ion-card-header>
      </span>

    </ion-card>
  </ng-template>
  <!-- sin evento -->
  <ng-template #noData>
    <ion-card>
      <ion-card-header>
        <ion-card-title>No hay eventos</ion-card-title>
      </ion-card-header>
    </ion-card>

  </ng-template>

</ion-content>