<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button style="color: white !important"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Objetivo
    </ion-title>

  </ion-toolbar>
</ion-header> -->
<ion-header>
  <app-menu-general [isMenuButton]="'back'" [colorMenuButton]="'white'" [titleMenu]="'Objetivo'" [buttonNotification]="'assets/iconos/notificaciones.svg'"
    [buttonUser]="'assets/iconos/usuario_blanco.svg'"></app-menu-general>
</ion-header>
<ion-content>
  <ion-grid fixed>
    <h1 *ngIf="isNew">Nuevo Objetivo</h1>
    <h1 *ngIf="!isNew">Editar Objetivo</h1>
    <p>Complete los campos para asignar una meta</p>
    <div class="container" style="margin-top: 3%">
      <form #newUserForm="ngForm">
        <mat-card [ngClass]="{'desktop-card': isDesktop }">
          <mat-card-title>Datos del Objetivo</mat-card-title>



          <div class="flex-container">

            <!-- title -->
            <mat-form-field appearance="outline">
              <mat-label>Titulo</mat-label>
              <input matInput placeholder="" [(ngModel)]="goal.title" #title="ngModel" id="title" name="title" required>
              <mat-error *ngIf="title.dirty || title.touched">Anotar</mat-error>
            </mat-form-field>
            <!-- cont -->
            <mat-form-field appearance="outline">
              <mat-label>Contenido</mat-label>
              <textarea matInput placeholder="" [(ngModel)]="goal.content" #content="ngModel" id="content" name="content"
                required></textarea>
              <mat-error *ngIf="content.dirty || content.touched">Anotar</mat-error>
            </mat-form-field>
            <!-- status -->
            <mat-form-field appearance="outline">
              <mat-label>Estado</mat-label>
              <mat-select [(ngModel)]="goal.status" #status="ngModel" id="status" name="status" required>
                <mat-option value="gris">
                  Inicial
                </mat-option>
                <mat-option value="verde">
                  Bajo
                </mat-option>
                <mat-option value="amarillo">
                  Medio
                </mat-option>
                <mat-option value="rojo">
                  Urgente
                </mat-option>
                <!-- <mat-option value="azul">
                  Cumplido
                </mat-option> -->
              </mat-select>
              <mat-error *ngIf="status.dirty || status.touched">Selecciona</mat-error>
            </mat-form-field>
            <!-- isOld -->
            <!--  <mat-form-field appearance="outline">
              <mat-label>Tipo</mat-label>
              <mat-select [(ngModel)]="goal.isByManagement" #isByManagement="ngModel" id="isByManagement" name="isByManagement"
                required>
                <mat-option [value]=false>Individual
                </mat-option>
                <mat-option [value]=true>Grupal
                </mat-option>
              </mat-select>
              <mat-error *ngIf="isByManagement.dirty || isByManagement.touched">Selecciona uno</mat-error>
            </mat-form-field> -->

            <!-- Fecha -->
            <mat-form-field appearance="outline">
              <mat-label>Fecha para ser cumplido</mat-label>
              <input (dateChange)="dateSelect($event)" (focus)="picker.open()" [value]="getDate(goal.day, goal.month, goal.year)"
                matInput [matDatepicker]="picker" placeholder="Selecciona Fecha" required>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <!-- Fecha -->
            <mat-form-field appearance="outline">
              <mat-label>Fecha para mandar recordatorio</mat-label>
              <input (dateChange)="dateSelect2($event)" (focus)="picker2.open()" matInput [matDatepicker]="picker2"
                placeholder="Selecciona Fecha" required>
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
            <!-- hora -->
            <mat-label style="margin-bottom: 2%;">Anote Hora de recordatorio </mat-label>
            <div>
              <mat-form-field style="width: 70px;" appearance="outline">
                <input type="number" style="text-align: right;" matInput [(ngModel)]="hourNoti" #hour="ngModel" id="hour"
                  name="hour" required>

              </mat-form-field>
              :
              <mat-form-field style="width: 70px;" appearance="outline">
                <input type="number" matInput [(ngModel)]="minuteNoti" #minute="ngModel" id="minute" name="minute"
                  required>
              </mat-form-field>
              <!-- pm/am -->
              <mat-form-field style="width: 71px;
              margin-left: 1%;" appearance="outline">
                <mat-select value='am' (selectionChange)="hourFormat(ampm.value)" #ampm>
                  <mat-option value="pm">
                    PM
                  </mat-option>
                  <mat-option value="am">
                    AM
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div *ngIf="goal.adviser && goal.adviser.length > 0">
              <!-- list adv -->
              <h4>Asesores del Objetivo</h4>
              <mat-list role="list">
                <mat-list-item role="listitem" *ngFor="let adv of goal.adviser">
                  {{adv.name}} {{adv.lastName}}
                  <!-- <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="schedule.adviser=undefined"></button> -->
                  <button matTooltip="Eliminar" mat-icon-button (click)="deleteAdviserOfGoal(adv._id)">
                    <mat-icon color="warn">clear</mat-icon>
                  </button>
                </mat-list-item>
              </mat-list>
            </div>
            <!-- adv -->
            <h4 *ngIf="user.type !== 'adviser'">{{adviserSelect.length === 0 ? 'Asignar Nuevos Asesores' : 'Asesores
              Nuevos Seleccionados'}}
            </h4>
            <mat-list *ngIf="user.type !== 'adviser'">
              <mat-list-item *ngFor="let adv of adviserSelect; let i=index">{{ adv.name }} {{ adv.lastName }}
                <button mat-icon-button (click)="adviserSelect.splice(i, 1)">
                  <mat-icon color="warn">clear</mat-icon>
                </button>
              </mat-list-item>
            </mat-list>
            <div *ngIf="user.type !== 'adviser'" style="padding: 0 16px; margin-bottom: 2%;">
              <button mat-stroked-button color="accent" (click)="searchAdv()">
                <ion-spinner *ngIf="isSpinner" color="secondary" name="bubbles"></ion-spinner>
                Agregar Asesor
              </button>
            </div>
            <!-- START TYPE -->
            <!-- toogle -->
            <h4>Tipo de Meta</h4>
            <div style="margin-bottom: 2%">
              <mat-button-toggle-group [value]="typeOfGoal" style="flex-wrap: wrap" (change)="typeOfGoal = $event.value; goal.typeOfGoal =  $event.value ">
                <mat-button-toggle value="goals">Objetivos</mat-button-toggle>
                <mat-button-toggle value="salesTotal">Ventas</mat-button-toggle>
                <mat-button-toggle value="rentTotal">Rentas</mat-button-toggle>
                <mat-button-toggle value="rentSalesTotal">Ventas y Rentas</mat-button-toggle>
              </mat-button-toggle-group>
            </div>
            <!-- GENERAL str list -->
            <app-form-str-list *ngIf="typeOfGoal === 'goals'" nameTitle="Lista de Objetivos" nameItems="Objetivo"
              (arrList)="arrList = $event" [arrStr]="arrList" [numOfItems]="numOfItems"></app-form-str-list>
            <div class="flex-column" *ngIf="typeOfGoal === 'salesTotal'">
              <!-- Sales -->
              <h5>Elige un tipo</h5>
              <mat-radio-group (change)="typeOfGoalSale = $event.value; goal.typeOfGoal = $event.value ">
                <mat-radio-button [checked]="typeOfGoalSale === 'salesTotal' " style="margin-right: 1%" value="salesTotal">Número
                  de Ventas Totales</mat-radio-button>
                <mat-radio-button [checked]="typeOfGoalSale === 'costOfSales' " value="costOfSales">Suma de Costo Final</mat-radio-button>
              </mat-radio-group>
              <ng-container *ngIf="typeOfGoalSale === 'salesTotal' ; then NumOfSales; else SumOfCost"></ng-container>
              <ng-template #NumOfSales>
                <!-- NumOfSales -->
                <mat-form-field>
                  <mat-label>Número de Ventas</mat-label>
                  <input matInput type="number" [(ngModel)]="goal.quantitative" #quantitative="ngModel" id="quantitative"
                    name="quantitative" required>
                  <mat-error *ngIf="quantitative.dirty || quantitative.touched">Anotar</mat-error>
                </mat-form-field>
              </ng-template>
              <ng-template #SumOfCost>
                <!-- costOfSales -->
                <mat-form-field>
                  <mat-label>Suma de Costo Final</mat-label>
                  <span matPrefix>$ &nbsp;</span>
                  <input matInput type="number" [(ngModel)]="goal.quantitative" #quantitative="ngModel" id="quantitative"
                    name="quantitative" required>
                  <mat-error *ngIf="quantitative.dirty || quantitative.touched">Anotar</mat-error>
                </mat-form-field>
              </ng-template>




            </div>
            <div class="flex-column" *ngIf="typeOfGoal === 'rentTotal'">
              <!-- Rent -->
              <h5>Elige un tipo</h5>
              <mat-radio-group (change)="typeOfGoalRent = $event.value; goal.typeOfGoal = $event.value ">
                <mat-radio-button [checked]="typeOfGoalRent === 'rentTotal' " style="margin-right: 1%" value="rentTotal">Número
                  de Rentas Totales</mat-radio-button>
                <mat-radio-button [checked]="typeOfGoalRent === 'costOfRent' " value="costOfRent">Suma de Costo Final</mat-radio-button>
              </mat-radio-group>
              <ng-container *ngIf="typeOfGoalRent === 'rentTotal' ; then NumOfRent; else SumOfRent"></ng-container>
              <ng-template #NumOfRent>
                <!-- NumOfSales -->
                <mat-form-field>
                  <mat-label>Número de Rentas</mat-label>
                  <input matInput type="number" [(ngModel)]="goal.quantitative" #quantitative="ngModel" id="quantitative"
                    name="quantitative" required>
                  <mat-error *ngIf="quantitative.dirty || quantitative.touched">Anotar</mat-error>
                </mat-form-field>
              </ng-template>
              <ng-template #SumOfRent>
                <!-- costOfSales -->
                <mat-form-field>
                  <mat-label>Suma de Costo Final </mat-label>
                  <span matPrefix>$ &nbsp;</span>
                  <input matInput type="number" [(ngModel)]="goal.quantitative" #quantitative="ngModel" id="quantitative"
                    name="quantitative" required>
                  <mat-error *ngIf="quantitative.dirty || quantitative.touched">Anotar</mat-error>
                </mat-form-field>
              </ng-template>

            </div>
            <div class="flex-column" *ngIf="typeOfGoal === 'rentSalesTotal'">
              <!-- 2 -->
              <h5>Elige un tipo</h5>
              <mat-radio-group (change)="typeOfGoalBoth = $event.value; goal.typeOfGoal = $event.value ">
                <mat-radio-button [checked]="typeOfGoalBoth === 'rentSalesTotal'" style="margin-right: 1%" value="rentSalesTotal">Número
                  de Rentas y Ventas
                  Totales</mat-radio-button>
                <mat-radio-button [checked]="typeOfGoalBoth === 'rentSalesCost'" value="rentSalesCost">Suma de Costo
                  Final</mat-radio-button>
              </mat-radio-group>
              <ng-container *ngIf="typeOfGoalBoth === 'rentSalesTotal' ; then NumOfBoth; else SumOfBoth"></ng-container>
              <ng-template #NumOfBoth>
                <!-- NumOfSales -->
                <mat-form-field>
                  <mat-label>Número de Rentas y Ventas</mat-label>
                  <input matInput type="number" [(ngModel)]="goal.quantitative" #quantitative="ngModel" id="quantitative"
                    name="quantitative" required>
                  <mat-error *ngIf="quantitative.dirty || quantitative.touched">Anotar</mat-error>
                </mat-form-field>
              </ng-template>
              <ng-template #SumOfBoth>
                <!-- costOfSales -->
                <mat-form-field>
                  <mat-label>Suma de Costo Final</mat-label>
                  <span matPrefix>$ &nbsp;</span>
                  <input matInput type="number" [(ngModel)]="goal.quantitative" #quantitative="ngModel" id="quantitative"
                    name="quantitative" required>
                  <mat-error *ngIf="quantitative.dirty || quantitative.touched">Anotar</mat-error>
                </mat-form-field>
              </ng-template>

            </div>
            <!-- /END TYPE -->
          </div>
          <mat-card-actions align="end">
            <div style="margin-right: 2%">
              <span [matTooltip]=errorToShow [matTooltipClass]="'tooltip-size'" (mouseenter)="getPopMessage($event)">
                <button *ngIf="isNew" id="submitUser" mat-raised-button color="primary" (click)="newGoal()" [disabled]="!newUserForm.form.valid">Crear</button>
                <button *ngIf="!isNew" id="submitUser" mat-raised-button color="primary" [disabled]="!newUserForm.form.valid"
                  (click)="editGoal()">Editar</button>
              </span>
            </div>
          </mat-card-actions>
        </mat-card>
      </form>
    </div>
  </ion-grid>


</ion-content>