<ion-header>
  <!-- <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button style="color: white !important"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Clientes
    </ion-title>

  </ion-toolbar> -->
  <app-menu-general [isMenuButton]="'menu'" [colorMenuButton]="'white'" [titleMenu]="'Clientes'" [buttonNotification]="'notifications'"
    [buttonUser]="'person'"></app-menu-general>
</ion-header>

<ion-content padding>
  <ng-container *ngIf="isLoading; then Load; else noLoad"></ng-container>
  <!-- contenido -->

  <ng-template #Load class="my-contenet">
    <mat-drawer-container class="side-container" autosize>
      <!-- contenido de filtros -->
      <mat-drawer [class.mat-elevation-z1]=true position="end" #drawer class="sidenav" [mode]="isDesktop ? 'side' : 'over'"
        [opened]="openMenu">
        <app-general-filter-buyer (filters)="getFilters($event)" (resetAll)="getBuyerAll()" (closeMenu)="drawer.close()"
          [isDesktop]="isDesktop" [propertiesName]="propertiesName"></app-general-filter-buyer>
      </mat-drawer>
      <!-- /contenido de filtros -->
      <!-- filtros boton -->
      <ion-item *ngIf="!isDesktop" lines="none">
        <ion-button (click)="drawer.toggle()" slot="end" color="secondary" fill="outline">
          <ion-icon name="funnel"></ion-icon>Filtros({{numOfFilters}})
        </ion-button>
      </ion-item>
      <ion-item *ngIf="isDesktop" lines="none">
        <ion-button (click)="drawer.toggle()" slot="end" color="secondary" fill="outline">
          <ion-icon name="funnel"></ion-icon>Filtros {{(drawer.openedChange | async) ? 'cerrar' : 'abrir'}}
        </ion-button>
      </ion-item>

      <!-- /filtros boton -->

      <!-- Table  -->
      <h2>Lista de Clientes </h2>
      <app-general-table [columns]="columns" [rows]="rows" [isDesktop]="isDesktop" (editButton)="edit($event)"
        (deletedButton)="presentAlertConfirm($event)" (detailsButton)="detailBuyer($event)" [showLoader]="showLoaderTable"></app-general-table>
      <!-- /Table -->
    </mat-drawer-container>


  </ng-template>
  <!-- /contenido -->

  <!-- Skeleton -->
  <ng-template #noLoad>
    <app-general-skeleton></app-general-skeleton>
  </ng-template>
</ion-content>
<!-- fab placed to the bottom end -->
<ion-fab *ngIf="user.type !== 'seller'" vertical="bottom" horizontal="start" slot="fixed">
  <ion-fab-button (click)="newBuyer()" *ngIf="isLoading" color="secondary">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
<!-- Solo vendedor y asesor -->
<ion-footer *ngIf="(user.type === 'adviser' || user.type === 'seller') && sales">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="sendToTotalSales()" fill="solid" color="secondary">
        Ventas<ion-badge color="dark" style=" margin-left: 2%;">{{sales.length}}</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>