.state-verde {
    border-left: 4px solid var(--ion-color-success);
}

.state-amarillo {
    border-left: 4px solid var(--ion-color-warning);
}

.state-rojo {
    border-left: 4px solid var(--ion-color-danger);
}

.state-azul {
    border-left: 4px solid var(--ion-color-blue);
}