<ion-header>
  <ion-toolbar translucent color="primary">
    <ion-buttons slot="start">
      <ion-menu-button style="color: white !important"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Calendario
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button *ngIf="showFullCalendar" (click)="backOne()" slot="start">
        <ion-icon mode="ios" slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title *ngIf="showFullCalendar" style="text-align: center">{{month[monthNumber]}} {{year}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="showFullCalendar = !showFullCalendar; getEvents(); " slot="end">
        <ion-icon slot="icon-only" [name]="showFullCalendar ? 'clipboard' : 'calendar'"></ion-icon>
      </ion-button>
      <ion-button *ngIf="showFullCalendar" (click)="fowardOne()" slot="end">
        <ion-icon mode="ios" slot="icon-only" name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid fixed style="height: 100%;">
    <span *ngIf="isLoad">
      <ng-container *ngIf="showFullCalendar; then thenTemplate; else elseTemplate"></ng-container>
      <ng-template #thenTemplate>
        <app-general-calendar [year]="year" [month]="monthNumber" [schedules]="schedule" (calendarSelect)="calendarSelect($event)"></app-general-calendar>
      </ng-template>
      <ng-template #elseTemplate>
        <h2 *ngIf="isAll">Todos los Eventos</h2>
        <h2 *ngIf="!isAll">Mostrando Eventos del {{dateDaySelect}}</h2>
        <ion-item lines="none">
          <ion-button *ngIf="!isAll" shape="round" color="secondary" (click)="getEvents(); isAll=true; ">Mostrar todos</ion-button>
          <ion-button *ngIf="!isAll" shape="round" (click)="newEventByDate(dayItem)">Crear Evento este
            dia</ion-button>
          <ion-button *ngIf="isAll" shape="round" (click)="newEventByDate()">Crear Evento Nuevo</ion-button>
        </ion-item>
        <ion-card *ngFor="let item of schedule" [ngClass]="{'state-verde': item.status === 'verde', 
          'state-amarillo':  item.status === 'amarillo',
          'state-rojo':  item.status === 'rojo',
          'state-gris': item.status === 'gris',
          'state-azul':  item.status === 'azul',
          'desktop-card': isDesktop    }">
          <ion-card-header>
            <ion-card-subtitle>
              fecha Creacion: {{formatDate(item.timestamp)}}
            </ion-card-subtitle>
            <ion-card-title text-wrap>
              Evento: {{formatState(item.status)}}
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item lines="none" *ngIf="item.buyer">
              <ion-icon slot="start" class="color-item-secondary" name="contact"></ion-icon>
              <ion-label slot="start" text-wrap>
                <p><b>Cliente:</b> </p>
                <p>{{item.buyer.name}}</p>
              </ion-label>
            </ion-item>
            <ion-item lines="none" *ngIf="item.adviser">
              <ion-icon slot="start" class="color-item-secondary" name="contact"></ion-icon>
              <ion-label slot="start" text-wrap>
                <p><b>Asesor:</b> </p>
                <p>{{item.adviser.name}}</p>
              </ion-label>
            </ion-item>
            <ion-item lines="none" *ngIf="item.property">
              <ion-icon slot="start" class="color-item-secondary" name="home"></ion-icon>
              <ion-label slot="start" text-wrap>
                <p><b>Propiedad:</b> </p>
                <p>{{item.property.name}}</p>
              </ion-label>
            </ion-item>
            <ion-item lines="none" *ngIf="item.address">
              <ion-icon slot="start" class="color-item-secondary" name="pin"></ion-icon>
              <ion-label slot="start" text-wrap>
                <p><b>Lugar:</b> </p>
                <p>{{item.address}}</p>
              </ion-label>
            </ion-item>
            <ion-item lines="none" *ngIf="item.day">
              <ion-icon slot="start" class="color-item-secondary" name="calendar"></ion-icon>
              <ion-label slot="start" text-wrap>
                <p><b>Fecha del Evento:</b> </p>
                <p>{{item.day}}/{{item.month}}/{{item.year}}</p>
              </ion-label>
            </ion-item>
            <ion-item lines="none" *ngIf="item.day">
              <ion-icon slot="start" class="color-item-secondary" name="time"></ion-icon>
              <ion-label slot="start" text-wrap>
                <p><b>Hora del Evento:</b> </p>
                <p *ngIf="!item.minute">{{item.hour}}hrs</p>
                <p *ngIf="item.minute < 10">{{item.hour}}:0{{item.minute}}</p>
                <p *ngIf="item.minute >= 10">{{item.hour}}:{{item.minute}}</p>
              </ion-label>
            </ion-item>
            <!-- <ion-item lines="none" *ngIf="item.status">
              <ion-icon slot="start" class="color-item-secondary" name="cash"></ion-icon>
              <ion-label slot="start" text-wrap>
                <p><b>Estado:</b> </p>
                <p *ngIf="item.status === 'gris'">Cita Generada</p>
                <p *ngIf="item.status === 'verde'">Propuesta Cita</p>
                <p *ngIf="item.status === 'amarillo'">Esperando Visita</p>
                <p *ngIf="item.status === 'rojo'">Visitada</p>
              </ion-label>
            </ion-item> -->
            <ion-item *ngIf="item.note" lines="none">
              <ion-icon slot="start" class="color-item-secondary" name="clipboard"></ion-icon>
              <ion-label slot="start" text-wrap>
                <p><b>Notas:</b> </p>
                <p>{{item.note}}</p>
              </ion-label>
            </ion-item>
          </ion-card-content>
          <ion-item lines="none">
            <ion-button (click)="newEventById(item._id)" color="success" fill="outline" slot="end">
              Editar <ion-icon name="create"></ion-icon>
            </ion-button>
            <ion-button (click)="presentAlertConfirm(item._id)" color="danger" fill="outline" slot="end">
              Borrar <ion-icon name="trash"></ion-icon>
            </ion-button>

          </ion-item>
        </ion-card>
      </ng-template>



    </span>
    <span *ngIf="!isLoad">
      <app-general-skeleton></app-general-skeleton>
    </span>

  </ion-grid>

</ion-content>