<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button style="color: white !important"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Asesor
    </ion-title>

  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid fixed>
    <div class="container" style="margin-top: 3%">
      <form #newUserForm="ngForm">
        <mat-card>
          <mat-card-title>Complete los campos</mat-card-title>
          <div class="flex-container">
            <!-- name -->
            <mat-form-field appearance="outline">
              <mat-label>Nombre</mat-label>
              <input matInput placeholder="" [(ngModel)]="adviser.name" #name="ngModel" id="name" name="name" required>
              <mat-error *ngIf="name.dirty || name.touched">Anotar Nombre</mat-error>
            </mat-form-field>
            <!-- lastname -->
            <mat-form-field appearance="outline">
              <mat-label>Apellido</mat-label>
              <input matInput [(ngModel)]="adviser.lastName" #lastName="ngModel" id="lastName" name="lastName" required>
              <mat-error *ngIf="lastName.dirty || lastName.touched">Anotar Apellido</mat-error>
            </mat-form-field>
            <!-- email -->
            <mat-form-field appearance="outline">
              <mat-label>Correo</mat-label>
              <input matInput [(ngModel)]="adviser.email" #email="ngModel" id="email" name="email" required>
              <mat-error *ngIf="email.dirty || email.touched">Anotar Correo</mat-error>
            </mat-form-field>
            <!-- hora inicio -->
            <mat-form-field appearance="outline">
              <mat-label>Hora de Inicio (24Hrs)</mat-label>
              <input matInput type="number" [(ngModel)]="adviser.hourStart" #hourStart="ngModel" id="hourStart" name="hourStart"
                required>
              <mat-error *ngIf="hourStart.dirty || hourStart.touched">Anotar Horas</mat-error>
            </mat-form-field>
            <!-- hora fin -->
            <mat-form-field appearance="outline">
              <mat-label>Hora Fin (24Hrs)</mat-label>
              <input matInput type="number" [(ngModel)]="adviser.hourEnd" #hourEnd="ngModel" id="hourEnd" name="hourEnd"
                required>
              <mat-error *ngIf="hourEnd.dirty || hourEnd.touched">Anotar Horas</mat-error>
            </mat-form-field>
            <!-- city -->
            <mat-form-field appearance="outline">
              <mat-label>Ciudad</mat-label>
              <mat-select [(ngModel)]="adviser.city" #city="ngModel" id="city" name="city" required>
                <mat-option value="puebla">
                  Puebla
                </mat-option>
                <mat-option value="mexico">
                  México
                </mat-option>
              </mat-select>
              <mat-error *ngIf="city.dirty || city.touched">Anotar Ciudad</mat-error>
            </mat-form-field>
            <!-- pass -->
            <mat-form-field appearance="outline">
              <mat-label>Contraseña</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="adviser.password" #password="ngModel" id="password"
                name="password" required>
              <mat-error *ngIf="password.dirty || password.touched">Anotar Contraseña</mat-error>
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            </mat-form-field>
          </div>
          <mat-card-actions align="end">
            <div style="margin-right: 2%">
              <span [matTooltip]=errorToShow [matTooltipClass]="'tooltip-size'" (mouseenter)="getPopMessage($event)">
                <button *ngIf="isNew" id="submitUser" mat-raised-button color="primary" (click)="newCustomer()"
                  [disabled]="!newUserForm.form.valid">Crear</button>
                <button *ngIf="!isNew" id="submitUser" mat-raised-button color="primary" (click)="editCustomer()">Editar</button>
              </span>
            </div>


          </mat-card-actions>

        </mat-card>
      </form>

    </div>
  </ion-grid>

</ion-content>