.flex-container {
    display: flex;
    flex-direction: column;
    padding: 5%;
}

.flex-container>* {
    width: 100%;
    margin: 5%
}

.desktop-card {
    height: 100% !important;
}

.alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.app-fab--absolute {
    position: fixed !important;
    bottom: 1rem;
    right: 1rem;
}