<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Ingresar
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content scroll-y="false"
             class="bg-img">
  <ion-grid>
    <ng-container *ngIf="isLogin; then thenTemplate; else elseTemplate"></ng-container>
    <ng-template #thenTemplate>

    </ng-template>
    <ng-template #elseTemplate>
      <div class="center-login">
        <img src="assets/logo_login.png"
             style="max-width: 10em"
             alt="">
      </div>
      <div class="grandParentContaniner">
        <form #loginForm="ngForm">
          <div class="box">
            <div class="box-body">
              <ion-label position="fixed"
                         color="light">Correo</ion-label>

              <ion-input class="input-login"
                         label="Correo"
                         [(ngModel)]="emailInput"
                         #email="ngModel"
                         id="email"
                         name="email"
                         required></ion-input>
              <div *ngIf="(email.dirty || email.touched) && !email.value"
                   lines="none">
                <ion-label color="danger">*Anota Correo</ion-label>
              </div>
              <!-- Pass -->
              <ion-label color="light">Contraseña</ion-label>

              <ion-input class="input-login"
                         (keyup)="pressEnter($event)"
                         label="Contraseña"
                         type="password"
                         [(ngModel)]="passInput"
                         #pass="ngModel"
                         id="pass"
                         name="pass"
                         required></ion-input>
              <div *ngIf="(pass.dirty ||
                                               pass.touched)
                                               &&
                                               !pass.value"
                   lines="none">
                <ion-label color="danger">*Anota Contraseña</ion-label>
              </div>
              <ion-button color="secondary"
                          class="button-ingresar"
                          (click)="login()"
                          expand="block">
                <span>INGRESAR</span>
              </ion-button>
              <div class="login-a">
                <a (click)="presentAlertPrompt()">Olvide
                  Contraseña</a>
              </div>
              <div class="login-a2">
                <a (click)="newUser()">SOY NUEVO USUARIO</a>
              </div>
            </div>
          </div>
        </form>
        <!-- <div class="space-buttons"></div> -->
      </div>
    </ng-template>
  </ion-grid>

</ion-content>