.card-margin {
    margin: 5%
}

.card-gris {
    background-color: var(--ion-color-twelve) !important
}

.card-verde {
    background-color: #10dc6038 !important;
    color: black !important;
}

.card-amarillo {
    background-color: #ffcc295c !important;
    color: black !important;
}


.card-rojo {
    background-color: #c2272c3b !important;
    color: black !important;

}

.card-azul {
    background-color: #0091ea4a !important;
    color: black !important;

}

.status-point {
    touch-action: none;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin: 2px;
}