<ion-header>
  <!--  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button style="color: white !important"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Administrador
    </ion-title>

  </ion-toolbar> -->
  <app-menu-general [isMenuButton]="'menu'" [colorMenuButton]="'white'" [titleMenu]="'Administrador'"
    [buttonNotification]="'notifications'" [buttonUser]="'person'"></app-menu-general>
  <ion-toolbar [ngClass]="{'desktop-tabs': isDesktop}" color="primary">
    <ion-segment color="secondary" (ionChange)="segmentChanged($event)">
      <ion-segment-button checked value="movementsSegment">
        Movimientos
      </ion-segment-button>
      <ion-segment-button value="eventsSegment">
        Citas
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- <ion-grid [ngClass]="{'desktop-grid': isDesktop}"> -->
  <ion-grid>
    <ng-container *ngIf="isLoad; then thenLoad; else elseLoad"></ng-container>
    <!-- cargado -->
    <ng-template #thenLoad>


      <span [ngSwitch]="segment">
        <!-- movementsSegment -->
        <span *ngSwitchCase="'movementsSegment'">
          <!-- titulos -->
          <h2>Movimientos en el sistema </h2>
          <p>Se muestra cada acción realizada en el sistema con su estado</p>
          <!-- filtros -->
          <div class="filters-conteiner">
            <div class="filters-day">
              <mat-form-field appearance="fill">
                <mat-label>Filtrar por tiempo</mat-label>
                <mat-select #time [(ngModel)]="filterTime" (valueChange)="filterTime = time.value; getFiltersGeneral()"
                  placeholder="Fitrar Días">
                  <mat-option value=7>
                    7 Días
                  </mat-option>
                  <mat-option value=14>
                    14 Días
                  </mat-option>
                  <mat-option value=30>
                    Último mes
                  </mat-option>
                  <mat-option value='dateSpecific'>
                    Rango de Fecha
                  </mat-option>
                </mat-select>
                <button mat-button *ngIf="filterTime" matSuffix mat-icon-button aria-label="Clear" (click)="filterTime = undefined; startDate= undefined; endDate= undefined; getFiltersGeneral()">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
              <!-- inicio -->
              <mat-form-field *ngIf="isCalendar" appearance="fill">
                <mat-label>Fecha Inicio</mat-label>
                <input (dateChange)="dateSelectStart($event)" (focus)="picker.open()" matInput [matDatepicker]="picker"
                  placeholder="Selecciona Fecha" required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              <!-- fecha fin -->

              <mat-form-field *ngIf="isCalendar" appearance="fill">
                <mat-label>Fecha Fin</mat-label>
                <input (dateChange)="dateSelectEnd($event)" (focus)="pickerEnd.open()" matInput [matDatepicker]="pickerEnd"
                  placeholder="Selecciona Fecha" required>
                <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
                <mat-datepicker #pickerEnd></mat-datepicker>
              </mat-form-field>
            </div>

            <div class="filters-toogle">
              <mat-button-toggle-group [value]="matButtonToggleGroup" style="flex-wrap: wrap" (change)="matButtonToggleGroup = $event.value; getFiltersGeneral(); ">
                <mat-button-toggle value="schedule">Citas</mat-button-toggle>
                <mat-button-toggle value="ofert">Ofertas</mat-button-toggle>
                <mat-button-toggle value="sbp">Estados</mat-button-toggle>
                <mat-button-toggle value="credit">Créditos</mat-button-toggle>
                <mat-button-toggle value="all">Todos</mat-button-toggle>
              </mat-button-toggle-group>
            </div>

          </div>


          <!-- <ion-row justify-content-around> -->
          <ion-row>
            <ion-col size="12" size-md="6" size-lg="6" size-xl="6" *ngFor="let item of allData">
              <!-- 
              decide que carta
              ofert
              schedule
              credit
              sbp
            -->
              <span [ngSwitch]="item.type">
                <span *ngSwitchCase="'ofert'">
                  <!-- oferta -->
                  <mat-accordion>
                    <mat-expansion-panel [ngClass]="{'state-verde': item.data.oferts.status === 'verde', 
                    'state-amarillo':  item.data.oferts.status === 'amarillo',
                    'state-rojo':  item.data.oferts.status === 'rojo',
                    'state-gris': item.data.oferts.status === 'gris',
                    'state-azul':  item.data.oferts.status === 'azul'}">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          <b>Oferta</b>
                        </mat-panel-title>
                        <mat-panel-description>
                          {{item.data.oferts.buyer.name}}
                        </mat-panel-description>
                        <mat-panel-description>
                          {{formatDates(item.time)}}
                        </mat-panel-description>
                      </mat-expansion-panel-header>

                      <!-- listado -->
                      <ion-list lines="none">
                        <ion-item lines="none">
                          <ion-icon slot="start" class="color-item-secondary" name="clipboard"></ion-icon>
                          <ion-label slot="start" text-wrap>
                            <p><b>Notas:</b> </p>
                            <p>{{item.data.oferts.notes}}</p>
                          </ion-label>
                        </ion-item>
                        <ion-item lines="none">
                          <ion-icon slot="start" class="color-item-secondary" name="cash"></ion-icon>
                          <ion-label slot="start" text-wrap>
                            <p><b>Precio:</b> </p>
                            <p>${{item.data.oferts.ofertPrice}}</p>
                          </ion-label>
                        </ion-item>
                        <ion-item lines="none">
                          <ion-icon slot="start" class="color-item-secondary" name="contact"></ion-icon>
                          <ion-label slot="start" text-wrap>
                            <p><b>Cliente:</b> </p>
                            <p>{{item.data.oferts.buyer.name}}</p>
                          </ion-label>
                        </ion-item>
                        <ion-item lines="none">
                          <ion-icon slot="start" class="color-item-secondary" name="home"></ion-icon>
                          <ion-label slot="start" text-wrap>
                            <p><b>Propiedad:</b> </p>
                            <p>{{item.data.oferts.property.name}}</p>
                          </ion-label>
                        </ion-item>
                      </ion-list>
                      <!-- /listado -->
                    </mat-expansion-panel>
                  </mat-accordion>
                  <!-- /ofertas -->

                </span>
                <span *ngSwitchCase="'schedule'">

                  <!-- Citas -->
                  <mat-accordion>
                    <mat-expansion-panel [ngClass]="{'state-verde': item.data.schedules.status === 'verde', 
                    'state-amarillo':  item.data.schedules.status === 'amarillo',
                    'state-rojo':  item.data.schedules.status === 'rojo',
                    'state-gris': item.data.schedules.status === 'gris',
                    'state-azul':  item.data.schedules.status === 'azul'}">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          <b>Cita</b>
                        </mat-panel-title>
                        <mat-panel-description>
                          {{item.data.schedules.buyer.name}}
                        </mat-panel-description>
                        <mat-panel-description>
                          {{formatDates(item.time)}}
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <!-- listado -->
                      <ion-list lines="none">
                        <ion-item lines="none" *ngIf="item.data.schedules.buyer">
                          <ion-icon slot="start" class="color-item-secondary" name="contact"></ion-icon>
                          <ion-label slot="start" text-wrap>
                            <p><b>Cliente:</b> </p>
                            <p>{{item.data.schedules.buyer.name}}</p>
                          </ion-label>
                        </ion-item>
                        <ion-item lines="none" *ngIf="item.data.schedules.adviser">
                          <ion-icon slot="start" class="color-item-secondary" name="contact"></ion-icon>
                          <ion-label slot="start" text-wrap>
                            <p><b>Asesor:</b> </p>
                            <p>{{item.data.schedules.adviser.name}}</p>
                          </ion-label>
                        </ion-item>
                        <ion-item lines="none" *ngIf="item.data.schedules.seller">
                          <ion-icon slot="start" class="color-item-secondary" name="cash"></ion-icon>
                          <ion-label slot="start" text-wrap>
                            <p><b>Vendedor:</b> </p>
                            <p>{{item.data.schedules.seller.name}}</p>
                          </ion-label>
                        </ion-item>
                        <ion-item lines="none" *ngIf="item.data.schedules.property">
                          <ion-icon slot="start" class="color-item-secondary" name="home"></ion-icon>
                          <ion-label slot="start" text-wrap>
                            <p><b>Propiedad:</b> </p>
                            <p>{{item.data.schedules.property.name}}</p>
                          </ion-label>
                        </ion-item>
                        <ion-item lines="none" *ngIf="item.data.schedules.address">
                          <ion-icon slot="start" class="color-item-secondary" name="pin"></ion-icon>
                          <ion-label slot="start" text-wrap>
                            <p><b>Lugar:</b> </p>
                            <p>{{item.data.schedules.address}}</p>
                          </ion-label>
                        </ion-item>
                        <ion-item lines="none" *ngIf="item.data.schedules.day">
                          <ion-icon slot="start" class="color-item-secondary" name="calendar"></ion-icon>
                          <ion-label slot="start" text-wrap>
                            <p><b>Fecha del Evento:</b> </p>
                            <p>{{item.data.schedules.day}}/{{item.data.schedules.month +
                              1}}/{{item.data.schedules.year}}</p>
                          </ion-label>
                        </ion-item>
                        <ion-item lines="none" *ngIf="item.data.schedules.hour">
                          <ion-icon slot="start" class="color-item-secondary" name="time"></ion-icon>
                          <ion-label slot="start" text-wrap>
                            <p><b>Hora del Evento:</b> </p>
                            <p> {{formatHours(item.data.schedules.hour,item.data.schedules.minute)}} </p>
                          </ion-label>
                        </ion-item>
                        <ion-item lines="none" *ngIf="item.data.schedules.status">
                          <ion-icon slot="start" class="color-item-secondary" name="cash"></ion-icon>
                          <ion-label slot="start" text-wrap>
                            <p><b>Estado:</b> </p>
                            <p *ngIf="item.data.schedules.status === 'gris'">Cita Generada</p>
                            <p *ngIf="item.data.schedules.status === 'verde'">Propuesta Cita</p>
                            <p *ngIf="item.data.schedules.status === 'amarillo'">Esperando Visita</p>
                            <p *ngIf="item.data.schedules.status === 'rojo'">Visitada</p>
                          </ion-label>
                        </ion-item>
                        <ion-item *ngIf="item.data.schedules.note" lines="none">
                          <ion-icon slot="start" class="color-item-secondary" name="clipboard"></ion-icon>
                          <ion-label slot="start" text-wrap>
                            <p><b>Notas:</b> </p>
                            <p>{{item.data.schedules.note}}</p>
                          </ion-label>
                        </ion-item>
                      </ion-list>
                      <!-- /listado -->


                    </mat-expansion-panel>
                  </mat-accordion>
                  <!-- /Citas -->



                </span>
                <span *ngSwitchCase="'credit'">
                  <!-- creditos -->
                  <mat-accordion>
                    <mat-expansion-panel [ngClass]="{'state-verde': item.data.credits.status === 'verde', 
                    'state-amarillo':  item.data.credits.status === 'amarillo',
                    'state-rojo':  item.data.credits.status === 'rojo',
                    'state-gris': item.data.credits.status === 'gris',
                    'state-azul':  item.data.credits.status === 'azul' }">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          <b>Crédito</b>
                        </mat-panel-title>
                        <mat-panel-description>
                          {{item.data.credits.buyer.name}}
                        </mat-panel-description>
                        <mat-panel-description>
                          {{formatDates(item.time)}}
                        </mat-panel-description>
                      </mat-expansion-panel-header>

                      <!-- listado -->
                      <ion-list lines="none">
                        <ion-item lines="none" *ngIf="item.data.credits.buyer">
                          <ion-icon slot="start" class="color-item-secondary" name="contact"></ion-icon>
                          <ion-label slot="start" text-wrap>
                            <p><b>Cliente:</b> </p>
                            <p>{{item.data.credits.buyer.name}}</p>
                          </ion-label>
                        </ion-item>
                        <ion-item lines="none" *ngIf="item.data.credits.property">
                          <ion-icon slot="start" class="color-item-secondary" name="home"></ion-icon>
                          <ion-label slot="start" text-wrap>
                            <p><b>Propiedad:</b> </p>
                            <p>{{item.data.credits.property.name}}</p>
                          </ion-label>
                        </ion-item>
                        <p><b>Notas:</b> </p>
                        <ion-label text-wrap>
                          {{item.data.credits.notes}}
                        </ion-label>
                      </ion-list>
                      <!-- /listado -->
                    </mat-expansion-panel>
                  </mat-accordion>
                  <!-- /creditos -->


                </span>
                <span *ngSwitchCase="'sbp'">
                  <!-- sbp -->
                  <mat-accordion>
                    <mat-expansion-panel [ngClass]="{'state-verde': item.data.sbps.status === 'verde', 
                    'state-amarillo':  item.data.sbps.status === 'amarillo',
                    'state-rojo':  item.data.sbps.status === 'rojo',
                    'state-gris': item.data.sbps.status === 'gris',
                    'state-azul':  item.data.sbps.status === 'azul' }">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          <b>Progreso</b>
                        </mat-panel-title>
                        <mat-panel-description>
                          {{item.data.sbps.buyer.name}}
                        </mat-panel-description>
                        <mat-panel-description>
                          {{formatDates(item.time)}}
                        </mat-panel-description>
                      </mat-expansion-panel-header>

                      <!-- listado -->
                      <ion-list lines="none">
                        <ion-item lines="none" *ngIf="item.data.sbps.buyer">
                          <ion-icon slot="start" class="color-item-secondary" name="contact"></ion-icon>
                          <ion-label slot="start" text-wrap>
                            <p><b>Cliente:</b> </p>
                            <p>{{item.data.sbps.buyer.name}}</p>
                          </ion-label>
                        </ion-item>
                        <ion-item lines="none" *ngIf="item.data.sbps.property">
                          <ion-icon slot="start" class="color-item-secondary" name="home"></ion-icon>
                          <ion-label slot="start" text-wrap>
                            <p><b>Propiedad:</b> </p>
                            <p>{{item.data.sbps.property.name}}</p>
                          </ion-label>
                        </ion-item>
                        <!-- Progreso -->
                        <p><b>Progreso:</b> </p>
                        <div class="container">
                          <ul class="progressbar">
                            <li class="item " [ngClass]="
                                  {'active-verde': item.data.sbps.status === 'verde', 
                            'active-amarillo':  item.data.sbps.status === 'amarillo',
                            'active-rojo':  item.data.sbps.status === 'rojo',
                            'active-azul':  item.data.sbps.status === 'azul' }">Información</li>
                            <li class="item" [ngClass]="
                                  { 
                            'active-amarillo':  item.data.sbps.status === 'amarillo',
                            'active-rojo':  item.data.sbps.status === 'rojo',
                            'active-azul':  item.data.sbps.status === 'azul' }">Seguimiento</li>
                            <li class="item" [ngClass]="
                                  {
                            'active-rojo':  item.data.sbps.status === 'rojo',
                            'active-azul':  item.data.sbps.status === 'azul' }">Cierre</li>
                            <li class="item" [ngClass]="
                                  {
                            'active-azul':  item.data.sbps.status === 'azul' }">PostVenta</li>
                          </ul>
                        </div>
                      </ion-list>
                      <!-- /listado -->
                    </mat-expansion-panel>
                  </mat-accordion>
                  <!-- /sbp -->
                </span>
              </span>

            </ion-col>


          </ion-row>
          <!-- Cargar mas -->
          <div style="text-align: center; margin-top: 1%">
            <ion-button (click)="loadMore();getFiltersGeneral()" shape="round">
              <ion-spinner *ngIf="isSpinner" style="color: white" name="bubbles"></ion-spinner>
              {{titleButton}}
            </ion-button>
          </div>
        </span>
        <!-- eventsSegment -->
        <span *ngSwitchCase="'eventsSegment'">
          <!-- Toggles in a List -->
          <ng-container *ngIf="scheduleToShow.length !== 0; then showSchedule; else noShow"></ng-container>
          <ng-template #showSchedule>
            <h2>Citas Personales </h2>

            <ion-list lines="none" *ngIf="!isOne">
              <ion-item lines="none">
                <ion-button (click)="isAll = !isAll;getAllSchedule(); ">{{isAll ? 'Mostrar Citas de hoy':'Mostrar
                  todos'}}</ion-button>
              </ion-item>
              <ion-item lines="none" *ngIf="!isAll">
                <ion-chip color="secondary">
                  <ion-label>Mostrando Citas de hoy
                  </ion-label>
                </ion-chip>
              </ion-item>

            </ion-list>
            <ion-grid>
              <ion-row>
                <ion-col size-sm="6" size-md="6" size-lg="6" size-xl="6" size="12" *ngFor="let schedule of scheduleToShow">
                  <ion-card [ngClass]="{
                'desktop-card': isDesktop  }">
                    <ion-card-header>
                      <ion-card-subtitle text-wrap>Fecha del Cita:
                        {{schedule.day}}/{{schedule.month + 1}}/{{schedule.year}}</ion-card-subtitle>
                      <ion-card-subtitle>Hora: {{formatHours(schedule.hour,schedule.minute)}} </ion-card-subtitle>

                      <ion-card-title text-wrap>{{schedule.title}}</ion-card-title>
                    </ion-card-header>
                    <ion-card-content text-wrap>
                      <ion-item lines="none">
                        <ion-icon slot="start" class="color-item-secondary" name="clipboard"></ion-icon>
                        <ion-label text-wrap><b>Detalles del evento:</b>
                          <p>
                            {{schedule.note}}
                          </p>
                        </ion-label>
                      </ion-item>
                      <ion-item lines="none">
                        <ion-icon slot="start" class="color-item-secondary" name="pin"></ion-icon>
                        <ion-label text-wrap><b>Dirección: </b>
                          <p>{{schedule.address}}</p>
                          <!-- <a [href]="'http://maps.google.com/?q='+schedule.address+', Puebla'">Ver mapa</a> -->
                          <a (click)="openMaps(schedule.address)">Ver mapa</a>
                          <!-- https://www.google.com/maps/search/?api=1&parameters -->
                        </ion-label>
                      </ion-item>

                    </ion-card-content>
                  </ion-card>
                </ion-col>
              </ion-row>
            </ion-grid>


          </ng-template>
          <ng-template #noShow>
            <ion-list lines="none" *ngIf="!isOne">
              <ion-item lines="none">
                <ion-button (click)="isAll = !isAll;getAllSchedule(); ">Mostrar Todos</ion-button>
              </ion-item>
            </ion-list>
            <ion-card>
              <ion-card-header>
                <ion-card-title> No hay Citas hoy</ion-card-title>
              </ion-card-header>
            </ion-card>
          </ng-template>
        </span>
        <!-- /event -->
      </span>
    </ng-template>
    <!-- nocargado -->
    <ng-template #elseLoad>
      <ion-skeleton-text width=40px></ion-skeleton-text>
      <ion-skeleton-text width=200px></ion-skeleton-text>
      <ion-skeleton-text width=600px></ion-skeleton-text>
      <ion-skeleton-text width=100px></ion-skeleton-text>
      <ion-skeleton-text width=80px></ion-skeleton-text>
    </ng-template>
  </ion-grid>


</ion-content>
<!-- fab placed to the bottom end -->
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button [routerLink]="['/personal-schedule']" *ngIf="segment === 'eventsSegment'" color="secondary">
    <ion-icon name="calendar"></ion-icon>
  </ion-fab-button>
</ion-fab>