.card-gris {
    background-color: var(--ion-color-twelve)
}

.card-verde {
    background-color: #10dc6038;
    color: black;
}

.card-amarillo {
    background-color: #ffcc295c;
    color: black;
}


.card-rojo {
    background-color: #c2272c3b;
    color: black;

}

.card-azul {
    background-color: #0091ea4a;
    color: black;

}