// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/colors.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
$mdc-theme-primary: #000000; // primary color
$mdc-theme-secondary: #f5811e; // secondary color F58634
@import '~@angular-mdc/theme/material';

.mdc-tab__ripple::before,
.mdc-tab__ripple::after {
  background-color: var(--ion-color-secondary);
}

.tabs-color {
  @include mdc-tab-text-label-color($mdc-theme-secondary);
  @include mdc-tab-icon-color($mdc-theme-secondary);
  @include mdc-states-base-color($mdc-theme-secondary);
}

.mdc-tab-indicator>.mdc-tab-indicator__content--underline {
  background-color: $mdc-theme-secondary;
  background-color: $mdc-theme-secondary;
}



app-refre {
  z-index: 0 !important;
}

.ion-page-invisible {
  opacity: 1 !important;
}

.split-pane-md.split-pane-visible>.split-pane-side {
  max-width: 10% !important;
}

.split-pane-ios.split-pane-visible>.split-pane-side {
  max-width: 10% !important;
}

body,
html {
  height: 100%;
}

.space-buttons {
  min-height: 100px !important;
}

.state-secondary {
  border-left: 4px solid var(--ion-color-secondary);
}

.state-gris {
  border-left: 4px solid var(--ion-color-medium);
}

.state-verde {
  border-left: 4px solid var(--ion-color-success);
}

.state-amarillo {
  border-left: 4px solid var(--ion-color-warning);
}

.state-rojo {
  border-left: 4px solid var(--ion-color-danger);
}

.state-azul {
  border-left: 4px solid var(--ion-color-blue);
}

.background-secondary {
  background-color: var(--ion-color-secondary) !important;
}

.background-gris {
  background-color: var(--ion-color-medium);
}

.background-gris-light {
  background-color: #b0b4c3;
}

.background-item-menu {
  background-color: #d7d8dc;
}

.background-verde {
  background-color: var(--ion-color-success);
}

.background-verde-light {
  background-color: #caf1d9;
}

.background-amarillo {
  background-color: var(--ion-color-warning);
}

.background-amarillo-light {
  background-color: #fdf5d3;
}

.background-rojo {
  background-color: var(--ion-color-danger);
}

.background-rojo-light {
  background-color: #ecb7b7;
}

.background-azul {
  background-color: var(--ion-color-blue);
}

.background-azul-light {
  background-color: #76b7de;
}

.my-contenet {
  margin: 3% 30% 2% 30% !important;
}

.app-fab--absolute {
  position: fixed !important;
  bottom: 1rem;
  right: 1rem;
}

.border-sumary,
.border-filter {
  border: 2px solid #ccc !important;
  border-radius: 16px !important;
}

@media (max-width: 900px) {
  .my-contenet {
    margin: 1% 1% 1% 1% !important;
  }

  .mdc-tab--stacked {
    height: 62px;
    padding-left: 8px;
    padding-right: 8px;
  }

  .tabs-color .mdc-tab__text-label {
    font-size: x-small;
  }
}

.color-item-secondary {
  color: var(--ion-color-secondary);
}

::-webkit-scrollbar {
  width: 10px;
}

.icon-chip-detail {
  border-radius: 50%;
  background-color: black;
  color: white;
}

.notification-button {
  position: relative;
  width: 42px;
  top: 1px;
  right: 1px;
  overflow: visible !important;
}


.notifications-badge {
  background-color: #FF1744;
  position: absolute;
  top: -3px;
  right: -3px;
  border-radius: 100%;
}